# Core functionality - changes here should be rare!
/src/app.py                   @Dareebenezer7
/src/backend/database.py      @Dareebenezer7
/src/backend/routers/auth.py  @Dareebenezer7

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Dareebenezer7
